<div class="container mt-4">

  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: lenses_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by brand, model, or lens type"
        %>
      <button type="submit" name="" class="btn btn-primary d-flex align-items-center">
        <i class="fa-solid fa-magnifying-glass me-1"></i>Search
      </button>
    <% end %>
  </div>
</div>

  <h1 class="mb-4">We found <%= @lenses.count %> lenses for you!</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @lenses.each do |lens| %>
      <div class="col">
        <%= link_to lens_path(lens), class: "nested-card-link" do %>
          <div class="card h-100 border-primary border-2 rounded">
            <%= cl_image_tag(lens.photo.key, class: "card-img-top py-3", style: "height: 180px; object-fit: contain;background-color: #f8f9fa;") %>
            <div class="card-body mt-2 ms-2">
              <h5 class="card-title"><strong><%= lens.brand %></strong></h5>
              <p class="card-text"><i class="fa-solid fa-camera"></i> <strong>Model:</strong> <%= lens.model %></p>
              <p class="card-text"><i class="fa-regular fa-hand-point-right"></i><%= truncate(lens.description, length: 80, separator: ' ') %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
