<div class="container mt-4">
  <h2 class="mb-4">We found <%= @lenses.count %> lenses for you!</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @lenses.each do |lens| %>
      <div class="col">
        <div class="card h-100 border-primary border-2 rounded">
          <%= cl_image_tag(lens.photo.key, class: "card-img-top py-3", style: "height: 180px; object-fit: contain;background-color: #f8f9fa;") %>
          <div class="card-body mt-2 ms-2">
            <h5 class="card-title"><strong><%= lens.brand %></strong></h5>
            <p class="card-text"><strong>Model:</strong> <%= lens.model %></p>
            <p class="card-text"><%= truncate(lens.description, length: 80, separator: ' ') %></p>

            <div class="d-flex justify-content-center align-items-center mt-2">
              <%= link_to "Details", lens_listings_path(lens.id), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
