<div class="container my-3">
  <h1>All lenses you can find 👇</h1>
    <% @lenses.each do |lens| %>
      <hr>
        <h5><strong><%= lens.brand %></strong></h5>
        <p>Model: <%= lens.model %></p>
        <p>Description</p>
        <p><%= lens.description %></p>
        <%= cl_image_tag(lens.photo.key) %>
        <%= link_to "View listings", lens_listings_path(lens.id) %>
    <% end %>
</div>
