<div class="container mt-4">
  <h1 class="mt-4 mb-4"><strong>My Dashboard</strong></h1>
  <p class="text-muted">You can view your listings own listings here.</p>
  <hr>
  <h2 class="mt-4 mb-4"><strong>My Listings</strong>
 <!--  <% if @lens %>
    <h1 class="mb-4"><strong>About <%= @lens.model %> </strong></h1>
    <h5 class="mb-1"><strong>Description</strong></h5>
    <p><%= @lens.description %></p>

    <hr>
    <h2 class="mt-4 mb-4"><strong>Listings for: <%= @lens.model %></strong></h2>
  <% else %>
    <h1 class="mt-4 mb-4"><strong>My Dashboard</strong></h1>
    <p class="text-muted">You can view your listings own listings here.</p>
    <hr>
    <h2 class="mt-4 mb-4"><strong>My Listings</strong>
  <% end %> -->

  <% if @listings.any? %>
    <div class="row row g-4 flex-column">
      <% @listings.each do |listing| %>
        <div class="col">
          <div class="card h-100 border-primary border-2 rounded">
            <%= image_tag "https://image.pollinations.ai/prompt/lens+for+camera+#{listing.lens.model.gsub(' ', '+')}",
                class: "card-img-top py-3",
                style: "height: 180px; object-fit: contain; background-color: #f8f9fa;" %>
            <div class="card-body mt-2 ms-2">
              <h4 class="card-title mb-1 fw-bold">
                <%= listing.lens.brand %><br>
                <%= listing.lens.model %></h4>
              <h3 class="text-muted mb-1">¥<%= listing.daily_rate %> per day</h3>
              <h3 class="card-text"><%= truncate(listing.owner_description, length: 80, separator: ' ') %></h3>

              <div class="d-flex justify-content-center align-items-center mt-2">
                <%= link_to "View Listing", listing_path(listing), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted mt-4">No listings found.</p>
  <% end %>
</div>
  <%# <div class="mt-4"> %>
    <%# <%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
  <%# </div> %>
