<h1>Listing for <%= @listing.lens.brand %> <%= @listing.lens.model %></h1>

<p>Owner: <%= @listing.user.first_name %> <%= @listing.user.last_name %></p>
<p>Address: <%= @listing.user.address %></p>
<p>¥<%= @listing.daily_rate %> per day</p>
<p><%= @listing.owner_description %></p>
<%= image_tag "https://image.pollinations.ai/prompt/lens+for+camera+#{@listing.lens.model.gsub(' ', '+')}", width: 150, height: 150 %>

<%= render 'reviews/form', review: @listing.reviews.new, listing: @listing %>
<h3>Reviews</h3>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
  <div class="review">
  <strong><%= review.user.user_name %></strong>
  <span>Rating: <%= review.rating %>/5</span>
  <p><%= review.content %></p>
  </div>
  <% end %>
<% else %>
  <p>No Reviews Yet</p>
<% end %>
<%= link_to "Back to lens", lens_listings_path(@listing.lens) %>

<h2>Book This Listing</h2>

<%= simple_form_for([@listing, @booking] || Booking.new ) do |f| %>
  <%= f.input :start_date, as: :date, label: "Start Date" %>
  <%= f.input :end_date, as: :date, label: "End Date" %>
  <%= f.button :submit, "Book Now" %>
<% end %>

<div class="display-booking-details">
  <h4>Your booking details:</h4>
  <% unless @listing.bookings.empty? %>
    <% booking = @listing.bookings.where(user: current_user).last%>
    <p> Start date: <%= booking.start_date %> </p>
    <p> End date: <%= booking.end_date %> </p>
    <p> Status: <%= booking.status.capitalize %> </p>
  <% end %>
</div>
